div1{
     height: "600px"; 
     width: "800px" ;
     background: blue
}

div2{
     height: "300px"; 
     width: "300px" ;
     background:white
}

div3{
     height: "600px"; 
     width: "200px" ;
     background: white
}